.text-red {
    color: #780001;
    font-family: 'Niconne', cursive;
}
.border-red {
    border-color: #780001;
}
.btn-red {
    background-color: #780001;
}
.badge-grey {
    background-color: #65656c;
}
.w-100 {
    filter: brightness(0.5);
}
.logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}