.text-red {
    color: #780001;
    font-family: 'Niconne', cursive;
}
.border-red {
    border-color: #780001;
}
.btn-red {
    background-color: #780001;
}
.badge-grey {
    background-color: #65656c;
}
.txtsize {
    font-size: 1.2rem;
}